node_modules/
.cloudfunction/
*.log
.DS_Store

.venv/

tools/uploader/
tools/tdl_downloader/

tools/telegram-parser/temp_tdata/
tools/telegram-parser/__pycache__/
tools/telegram-parser/**/__pycache__/

TelegramStorageParser/

.vscode/
