node_modules/
.cloudfunction/
*.log
.DS_Store

.venv/

tools/uploader/config.json
tools/uploader/cache/
tools/uploader/logs/

tools/tdl_downloader/cache/
tools/tdl_downloader/__pycache__/
tools/tdl_downloader/*.pyc

tools/telegram-parser/temp_tdata/
tools/telegram-parser/__pycache__/
tools/telegram-parser/**/__pycache__/

TelegramStorageParser/

.vscode/
